mixin pitchForm(pitch = {})
  h2 Add a pitch
  form(action=`/add/${pitch._id || ''}` method='POST' class='card')
    label(for="title") Title
    input(type="text" id="title" name="title" value=pitch.title required)
    label(for="description") Description
    textarea(id="description" name="description")= pitch.description
    input(type="submit" class="button" value="Save 💾")