mixin pitchCard(pitch = {})
  .store
    .store__hero
      .store__actions
        if user && pitch.author.equals(user._id)
          .store__actions.store__action--edit
            a(href=`/pitches/${pitch._id}/edit`) Edit
      h2.title
        a(href=`/pitch/${pitch.slug}`) #{pitch.title}
    .store__details
      p= pitch.description.split(' ').slice(0, 25).join(' ')