mixin pitchForm(pitch = {})
  form(action='/add' method='POST' class='card')
    label(for="title") Title
    input(type="text" id="title" name="title" required)
    label(for="description") Description
    textarea(id="description" name="description")
    input(type="submit" class="button" value="Save 💾")